In [49]:
import pandas as pd

In [50]:
new_df=pd.DataFrame
({
    "Col_1":[1,2,3,4,5],
    "Col_2":["a","b","c","d","e"],
    "Col_3":[5.45,5.56,2.28,42.0,7.62],
    "Col_4":[True, False, True, True, False]
})

{'Col_1': [1, 2, 3, 4, 5],
 'Col_2': ['a', 'b', 'c', 'd', 'e'],
 'Col_3': [5.45, 5.56, 2.28, 42.0, 7.62],
 'Col_4': [True, False, True, True, False]}

In [51]:
path="/Users/user1/Desktop/KPI/BMD/20150827_GunControl.csv"
data=pd.read_csv(path, encoding="utf-8")

print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [52]:
data

,"Search interest in gun control by city, in the 24 hours after the Virginia shooting",Unnamed: 1
0,"All values indexed to 100, where 100 is the ma...",NaN
1,City,Search Interest
2,Laurel (Mississippi United States),100
3,Westport (Connecticut United States),49.1262136
4,Corvallis (Oregon United States),27.80656304
...,...,...
97,San Diego (California United States),6.000098077
98,Golden Valley (Minnesota United States),5.987355893
99,Phoenix (Arizona United States),5.944116579
100,Raleigh (North Carolina United States),5.878594247
101,Milwaukee (Wisconsin United States),5.790270677

In [53]:
data.shape

(102, 2)

In [54]:
data.dtypes

Search interest in gun control by city, in the 24 hours after the Virginia shooting    object
Unnamed: 1                                                                             object
dtype: object

In [55]:
data.tail(3)

,"Search interest in gun control by city, in the 24 hours after the Virginia shooting",Unnamed: 1
99,Phoenix (Arizona United States),5.944116579
100,Raleigh (North Carolina United States),5.878594247
101,Milwaukee (Wisconsin United States),5.790270677

In [56]:
data.head()

,"Search interest in gun control by city, in the 24 hours after the Virginia shooting",Unnamed: 1
0,"All values indexed to 100, where 100 is the ma...",NaN
1,City,Search Interest
2,Laurel (Mississippi United States),100
3,Westport (Connecticut United States),49.1262136
4,Corvallis (Oregon United States),27.80656304

In [57]:
data.describe()

,"Search interest in gun control by city, in the 24 hours after the Virginia shooting",Unnamed: 1
count,102,101
unique,102,101
top,Arlington Heights (Illinois United States),7.01066841
freq,1,1

In [63]:
data[].describe()

KeyError: 1